# Database Configuration
DB_USER=postgres
DB_HOST=localhost
DB_NAME=beta
DB_PASSWORD=@K0t4ks4mp4h
DB_PORT=5432

# Server Configuration
PORT=5000

# JWT Configuration
JWT_SECRET=your_super_secret_jwt_key_change_this_in_production

# CORS Configuration (Frontend URL)
FRONTEND_URL=http://localhost:5173
